In [7]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
 
from sklearn.feature_extraction.text import TfidfVectorizer
 
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
# load the dataset  (dataframe)
df = pd.read_csv('/content/CP.csv', encoding='utf-8')
df=df[df['key word'].notna()]

In [4]:
df.head(12)

,ID,title,key word,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1.0,backend1,java python web developement spring,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,backend2,C++ java python django,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,backend3,Object oriented language data structure web de...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,frontend1,html css js react node.js vue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,frontend2,ui design ajax jquery html js,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6.0,frontend3,asynchronous request js css html,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7.0,data1,data analysis data management data storage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8.0,data2,mysql data warehouse data analysis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9.0,data3,R python data visualization data management,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10.0,student1,java python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11.0,student2,html css js react node.js vue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12.0,student3,data analysis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# get the index of id
def index_from_id(df,id):

 return df[df['ID']==id].index.values[0]

# id: the one you want to match, it can be student id or company id, if it is student, then retrieve all companys skillset, and create a dataframe,(match company for a given student)
# and if it is company id, then retrieve all students skillset, and create a dataframe(match students for a given company)
# df: dataframe needed to be make
#cosine_similarity_matrix: converted from dataframe[keyword] column
#number_of_recommendations: the number you want to match
def recommendations( id, df,cosine_similarity_matrix,number_of_recommendations):

  index = index_from_id(df,id)

  similarity_scores = list(enumerate(cosine_similarity_matrix[index]))

  similarity_scores_sorted = sorted(similarity_scores, key=lambda x: x[1], reverse=True)

  recommendations_indices = [t[0] for t in similarity_scores_sorted[1:(number_of_recommendations+1)]]
  # this could be df['ID'] 
  return df['title'].iloc[recommendations_indices]

In [26]:
vect = CountVectorizer(stop_words='english')
# transform df['key word'] into matrix
vect_matrix = vect.fit_transform(df['key word'])
vect_matrix
# get the cosine_similarity_matrix
cosine_similarity_matrix_count_based = cosine_similarity(vect_matrix, vect_matrix)

In [10]:
similarity_scores = list(enumerate(cosine_similarity_matrix_count_based[10]))

In [11]:
similarity_scores_sorted = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
recommendations_indices = [t[0] for t in similarity_scores_sorted[1:10]]
df['title'].iloc[recommendations_indices]

10     student2
5     frontend3
4     frontend2
0      backend1
1      backend2
2      backend3
6         data1
7         data2
8         data3
Name: title, dtype: object

In [27]:
recommendations(11, df,cosine_similarity_matrix_count_based,10)

10     student2
5     frontend3
4     frontend2
0      backend1
1      backend2
2      backend3
6         data1
7         data2
8         data3
9      student1
Name: title, dtype: object